@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');
        
body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#globalMap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #898D8D;
    border-radius: 3px;
}
